body{
  background-color: black;
  font-family: Verdana;
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}
.h1bold{
  font-weight: 300;
  font-size: 70px;
}
.greytext{
  font-size: 21px;
  color: grey;
}
a.aquamarine{
  color: aquamarine;
  font-size: 16px;
}
.footer {
  text-align: right;
  color: gray;
}
